---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from '../components/sections/Navigation.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import WhatLocalUpImprovesSection from '../components/sections/WhatLocalUpImprovesSection.astro';
import ServicesIncludedSection from '../components/sections/ServicesIncludedSection.astro';
import GettingStartedSection from '../components/sections/GettingStartedSection.astro';
import DashboardSection from '../components/sections/DashboardSection.astro';
import WhyLocalUpSection from '../components/sections/WhyLocalUpSection.astro';
import PricingSection from '../components/sections/PricingSection.astro';
import FaqSection from '../components/sections/FaqSection.astro';
import FinalCtaSection from '../components/sections/FinalCtaSection.astro';
import Footer from '../components/sections/Footer.astro';
---

<BaseLayout>
  <Navigation />
  <main>
    <HeroSection />
    <WhatLocalUpImprovesSection />
    <ServicesIncludedSection />
    <GettingStartedSection />
    <DashboardSection />
    <WhyLocalUpSection />
    <PricingSection />
    <FaqSection />
    <FinalCtaSection />
  </main>
  <Footer />
</BaseLayout>
